body {
    margin: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 150%;
}

#preSwap, #wordsList {
    color: blue;
    font-family: Helvetica, sans-serif;
}

#swapped, #swappedWordsList {
    color: green;
    font-family: 'Times New Roman', Times, serif;
}
